<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
      <main>
        <div class="logo"><a href="index.html">DK</a></div> 
        {% include navigation.html %}
        <section class="blog">
        <h1>{{page.title}}</h1>
        {{content}}
    </section>
      </main>
      {% include footer.html %}</div>
  </body>
  </html>